div {
    display: flex;
    flex-wrap: wrap;
}
div a {
    background-color: rgb(214, 211, 211);
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    color: rgb(224, 63, 34);
    font-weight: 400;
}