<div class="container">
        <div class="signupForm">
                <div class="form">
                        <div class="heading">
                                Forgot Your Password?
                        </div>
                        <form (ngSubmit)="onLogin()">
                                <div>
                                        <input type="email" id="email" name="email" [(ngModel)]="email"
                                                placeholder="Email" required>
                                </div>
                                <div class="btn">
                                        <button class="submit" type="submit">Reset Password</button>
                                </div>
                        </form>

                        <div class="signinText"> <span style="color: black;">Forget it,</span> <span
                                        style="margin: 4px;"> <a routerLink="/login">Login</a>
                                </span> </div>
                </div>
        </div>